# macOS/Linux
.DS_Store

# Editors
.vscode/
.idea/

# Secrets / local env
.env
*.pem
*.key
secrets/
!security/sops/secrets/
!security/sops/secrets/*.enc.yaml

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Kube
kubeconfig
